<footer>
                <p class="copyright">
                    another lovely
                    <script type="text/javascript">
                        var d = new Date();
                        var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                        document.write(days[d.getDay()]);
                    </script>
                    in
                    <script type="text/javascript">
                        document.write(new Date().getFullYear());
                    </script>.</p>
</footer>