<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="row">
      <div class="large-12 large-centered columns">

        <header class="masthead">
          <img src="{{ site.baseurl }}/public/profile.jpg" alt="joe kroese">
        </header>

    </div>
  </div>

  <div class="row">

    <div class="large-6 large-offset-3 columns">

      <div class="content-section">

        <p>
hi, i’m <strong>joe kroese</strong>, or just jobi. i study maths at the <a href="https://www.manchester.ac.uk/">university of manchester</a>. my brain spends time thinking about data, stories, justice and play.
        </p>
        <p>
          also i make <a href="https://soundcloud.com/youngbrides">music</a>, <a href="https://vimeo.com/joekroese">films</a> and interactive art.
          alsoalso i like to read <a href="https://www.goodreads.com/joekroese">books</a>.
        </p>

        <p>
i'm currently working for nobody.
        </p>

      </div>

      <main>
        <h2>Featured Projects</h2>
        {% for post in site.posts %}
          <div class="project-post">
            <h3><a href="{{ post.git }}">{{ post.title }}</a></h3>
            {{ post.content }}
          </div>
        {% endfor %}
      </main>

      <footer>
        <h2>Contact Me</h2>

        <p>
        Send me an <a href="mailto:joekroese@hotmail.co.uk?Subject=Hello,%20Joe!">email</a> or do whatever one does on <a href="https://twitter.com/joekroese">Twitter</a>. I’m also seeking company on <a href="https://github.com/joekroese">Github</a>.
        </p>

        <p class="copyright">
          another merry day in <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>.
        </p>
      </footer>

    </div>

    <div class="large-2 large-offset-1 columns social">
      <ul>
        <li><a href="https://twitter.com/joekroese"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/joekroese"><i class="fa fa-github"></i></a></li>
        <li><a href="https://vimeo.com/joekroese"><i class="fa fa-vimeo"></i></a></li>
        <li><a href="https://soundcloud.com/youngbrides"><i class="fa fa-soundcloud"></i></a></li>
      </ul>
    </div>

  </div>

    {% if site.google_analytics %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.google_analytics }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}

  </body>
</html>
